.movieGrid {
  display: grid;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  grid-template-columns: 100%;
}

@media(min-width: 560px) {
  .movieGrid {
    grid-template-columns: repeat(auto-fill, 230px);
  }
}
